{% extends 'core/partials/base_login.html' %}

{% block title %}Login{% endblock title %}

{% load static %}

{% block content %}
<div>
    <div class="vh-100 d-flex flex-row justify-content-center align-items-center bg-primary">
        <div class="d-flex flex-row justify-content-center align-items-center h-75 w-75 bg-secondary rounded">
            <!-- lado direito -->
            <div class="h-100" style="width: 40%;">
                <img src="{% static "images/carrao.png" %}" class="rounded-start" style="height: 100%; width: 100%;" alt="alt">
            </div>

            <!-- lado esquerdo -->
            <div class="h-100 d-flex flex-column justify-content-center align-items-center bg-info" style="width: 60%;">
                <h1>Login</h1>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" value="Login">
                </form>
                <p>Você não tem uma conta? <a href="{% url 'registrar' %}">Registrar</a></p>
            </div>
        </div>
    </div>
</div>

<div class="row  g-2">

</div>
{% endblock content %}