{% extends 'core/partials/base.html' %}

{% block title %}Cliente {{cliente}}{% endblock title %}

{% block content %}

<h1>Clientes adicionados</h1>
<a href="{% url 'clientes' %}">Clientes</a>

<h1>Nome: {{cliente}}</h1>
<h1>Email: {{cliente.email}}</h1>
<h1>Celular: {{cliente.celular}}</h1>

<hr>
historico de os's do cliente
<hr>

<table>
    <tr>
        <th>id</th>
        <th>valor</th>
        <th>criada em</th>
    </tr>
    {% for os in historico_os %}
    <tr>
        <td>{{os.id}}</td>
        <td>{{os.mao_obra}}</td>
        <td>{{os.ts_created|date:"d/m/y"}}</td>
    </tr>
    {% empty %}
        <h3>Cliente nao possui os registrada</h3>
    {% endfor %}
</table>

{% endblock content %}