{% load static %}
<nav class="navbar navbar-light bg-light position-static">
  <div class="container-fluid">
    {% comment %} <a class="navbar-brand" href="#">Navbar</a> {% endcomment %}
    <a class="navbar-brand text-decoration-none" href="{% url 'index' %}">
      <img src="{% static 'images/logo.jpg' %}" alt="logo" style="height: 40px">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">menu</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'carros' %}">carros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'marcas' %}">marcas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'itens' %}">itens</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'clientes' %}">clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'oss' %}">os's</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'financeiro' %}">financeiro</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">{{ user.get_full_name|upper }}</a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
              <a class="dropdown-item" href="{% url 'logout' %}">logout</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>