<h1>Carros adicionados</h1>
<a href="{% url 'cadastrar_carro' %}">Cadastrar carro</a>

<table>
    <tr>
        <th>Carro</th>
        <th></th>
    </tr>
    {% for carro in carros %}
    <tr>
        <td>{{carro.nome}}</td> 
        <td><a href="{% url 'ver_carro' carro.id %}">Ver</a></td>
        <td><a href="{% url 'editar_carro' carro.id %}">Editar</a></td>
        <td><a href="{% url 'remover_carro' carro.id %}">Remover</a></td>
    </tr>
    {% empty %}
        <h3>Você não tem carros adicionados</h3>
    {% endfor %}
</table>